@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background:#eee;
}

@media (prefers-color-scheme: dark) {
  :root {
   --foreground-rgb: 255, 255, 255;
   --background: #111827;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}

